{% extends "base.html.twig" %}

{% block title %}Battleship{% endblock %}

{% block body %}
    <h1>Battleship</h1>
    <p>Press button to start a game.</p>
    <button type="button">Start Game!</button>
{% endblock %}
